<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">{{'Home.view.Home' | translate }}</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    <button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.Fotocordo.Executar').run()" data-component="crn-button" id="crn-button-1013707"><i class="ion ion-home"></i> <span>Button </span></button><div style="height: 60px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-909305">
      &nbsp;
    </div><div class="item item-input item-stacked-label component-holder" data-component="crn-dynamic-image" id="crn-dynamic-image-106972"><label class="input-label">Label</label><div class="form-group"><div dynamic-image="" ng-model="vars.input3944" max-file-size="5MB" class="dynamic-image-container" ng-required="false">{{"template.crud.clickToAddImage" | translate}}</div></div></div>
  </ion-content>
</ion-view>